@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    background-color: #000000;
}

@keyframes fadeInbutotherside {
    0% {
	opacity: 0;
	filter: blur(24px);
	transform: translate3d(0, -42%, 0);
      
    }
    6% {
        opacity: 1;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);

    }
    89% {
        opacity: 1;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);

    }
    100% {
        opacity: 0;
        filter: blur(24px);
        transform: translate3d(0, 42%, 0);
          
    }
}

h1 {
    animation: fadeInbutotherside 5.5s forwards;
    opacity: 0;
    color: #ededed;
    font-family: 'Montserrat';
    margin-top: 0px;
    font-size: 40px;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    width: 364px;
    height: 25px;
}

@keyframes barresize {
    0% {
        width: 0px;
    }
    6% {
        width: 0px;
    }
    90% {
        width: 500px;
    }
    100% {
        width: 0px;
    }
}

.txtholder {
    align-items: center;
    width: 500px;
}

.toptxt {
    z-index: 3;
    color: black;
    margin: 0;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0);
    text-align: start;
}

.barholder {
    width: 500px;
    align-items: center;
    margin: auto;
}

.bar {
    border-radius: 4px;
    height: 25px;
    animation: barresize 5.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    width: 0px;
    background-color: #ededed;
    z-index: 2;
}

.centerbox {
    width: 100%;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}